.version.about /* version checker */
{
	color: #00000A;
	background-color: #20EB8B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 999px;
	min-height: 618px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 54px;
	padding-right: 25px;
	padding-bottom: 96px;
	margin-left: auto;
	margin-right: auto;
}

#pu210
{
	width: 0.01px;
}

#u210
{
	z-index: 2;
	width: 766px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 122px;
}

#u222
{
	z-index: 6;
	width: 421px;
	margin-right: -10000px;
	margin-top: 9px;
}

#u737
{
	z-index: 8;
	width: 82px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 566px;
}

#u738
{
	z-index: 9;
	width: 100px;
	height: 28px;
	margin-right: -10000px;
	margin-top: 60px;
	left: 566px;
}

#u739
{
	z-index: 10;
	width: 131px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 766px;
}

#u740
{
	z-index: 11;
	width: 131px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 61px;
	left: 766px;
}

#u741
{
	z-index: 12;
	width: 362px;
	height: 73px;
	margin-right: -10000px;
}

.ie #u737,.ie #u738,.ie #u739,.ie #u740,.ie #u741
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u212
{
	z-index: 4;
	width: 973px;
	margin-left: 25px;
	margin-top: 27px;
}

#pu765
{
	width: 0.01px;
	margin-left: 62px;
	margin-top: 102px;
}

#u765
{
	z-index: 26;
	width: 260px;
	height: 262px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	background: transparent url("../images/giulia%20photo-ieu765-fr.png") no-repeat left top;
	background: rgba(0,0,0,0) url("../images/giulia%20photo-luminosit%c3%a0-contrasto%201.jpg") no-repeat left top;
	background-color: transparent;
	background-size: contain;
}

#u765:hover
{
	width: 260px;
	height: 262px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
	background: transparent url("../images/giulia%20photo-ieu765-r-fr.png") no-repeat left top;
	background: rgba(0,0,0,0) url("../images/giulia%20photo-sfondo.jpg") no-repeat left top;
	background-color: transparent;
	background-size: contain;
}

#u765:active
{
	width: 260px;
	height: 262px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
	background: transparent url("../images/giulia%20photo-ieu765-fr.png") no-repeat left top;
	background: rgba(0,0,0,0) url("../images/giulia%20photo-luminosit%c3%a0-contrasto%201.jpg") no-repeat left top;
	background-color: transparent;
	background-size: contain;
}

#u777-10
{
	z-index: 16;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 339px;
}

#u1374
{
	z-index: 14;
	margin-left: 702px;
	margin-top: 75px;
	position: relative;
}

#u1374_states
{
	height: 18px;
	width: 120px;
	vertical-align: top;
	background: url("../images/u1374_states.png") no-repeat 0px 0px;
}

#u1374:hover #u1374_states
{
	background: url("../images/u1374_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

